<div class="navbar">
  <div class="logo">
    <%= link_to "Main Page - Achar imagem", root_path, class: 'btn btn-outline-success btn-md radius:10px' %>
  </div>
  <div class="button">
    <%= link_to "Criar Nova Receita", new_recipe_path, class: 'btn btn-success btn-md radius:10px' %>
  </div>
</div>
